@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/common' as *;


/*
************
*************************
02. common section
******************************************************* 
*************************************************************** */

// -------------- section-title 1 ---------------

.artza-section-title-1 {
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--font-color-1);
    font-family: $inter;
    margin-bottom: 17px;
    @media #{$lg} {
        font-size: 38px;
    }
    @media #{$xs} {
        font-size: 28px;
    }
    @media #{$sm} {
        font-size: 36px;
    }
}
.artza-section-title-2 {
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--font-color-3);
    font-family: $inter;
    margin-bottom: 20px;
    @media #{$lg} {
        font-size: 38px;
    }
    @media #{$xs} {
        font-size: 28px;
    }
    @media #{$sm} {
        font-size: 36px;
    }
}
.artza-section-title-3 {
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--font-color-3);
    font-family: $inter;
    margin-bottom: 23px;
    @media #{$lg} {
        font-size: 38px;
    }
    @media #{$xs} {
        font-size: 28px;
    }
    @media #{$sm} {
        font-size: 36px;
    }
    span {
        display: inline-block;
        color: var(--pr-2);
        position: relative;
        font-weight: 700;

        img {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.artza-section-title-4 {
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--pr-2);
    font-family: $inter;
    margin-bottom: 17px;
    @media #{$lg} {
        font-size: 38px;
    }
    @media #{$xs} {
        font-size: 28px;
    }
    @media #{$sm} {
        font-size: 36px;
    }
}
.artza-section-subtitle-1 {
    font-size: 19px;
    font-weight: 500;
    font-family: $inter;
    text-transform: capitalize;
    color: var(--font-color-1);
    line-height: 22px;
    margin-bottom: 14px;
}
.artza-section-subtitle-2 {
    font-size: 19px;
    font-weight: 600;
    font-family: $inter;
    text-transform: uppercase;
    color: var(--pr-2);
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 14px;

    img {
        display: inline-block;
        margin-top: -2px;
        margin-left: 6px;
        margin-right: 6px;
    }
}
.artza-section-subtitle-4 {
    font-size: 16px;
    font-weight: 600;
    font-family: $inter;
    text-transform: uppercase;
    color: var(--sd-2);
    line-height: 24px;
    margin-bottom: 11px;
    letter-spacing: .1px;
}
.artza-section-p-1 {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-color-2);
    line-height: 29px;
    font-family: $inter;
}
.artza-section-p-2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color-3);
    line-height: 29px;
    font-family: $inter;
}
.artza-section-p-3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color-3);
    line-height: 28.8px;
    font-family: $inter;
    padding-left: 18px;
    border-left: 2px solid var(--pr-2);
}

// ------------------- all-btn ------------------

// btn-1

.artza-btn-1 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: var(--pr-1);
    width: 170px;
    height: 56px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    color: var(--white-color);
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-color: var(--white-color);
        width: 5px;
        height: 100%;
        top: 5px;
        right: -5px;
        @include transition(.3s)
    }
    &::before {
        content: "";
        position: absolute;
        background-color: var(--white-color);
        width: 100%;
        height: 5px;
        bottom: -5px;
        left: 5px;
        @include transition(.3s);
    }
    &:hover {
        color: var(--white-color);
        &::after {
            background-color: var(--pr-1);
        }
        &::before {
            background-color: var(--pr-1);
        }
    }
}

// btn-2

.artza-btn-2 {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--pr-1);
    padding: 0 33px;
    height: 51px;
    text-align: center;
    line-height: 50px;
    color: var(--white-color);
}

// btn-3

.artza-btn-3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--pr-2);
    padding: 0 33px;
    height: 51px;
    text-align: center;
    line-height: 50px;
    color: var(--white-color);
}

// btn-4

.artza-btn-4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--sd-2);
    padding: 0 33px;
    height: 51px;
    text-align: center;
    line-height: 50px;
    color: var(--white-color);
}

// play btn

.artza-play-btn {
    width: 51px;
    height: 51px;
    background: rgba(123, 61, 248, 0.8);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    @include transition(.3s);

    &:hover {
        background: var(--sd-1);
    }
  }
  
  /* triangle */
  .artza-play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  /* pulse wave */
  .artza-play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -25%;
    left: -25%;
    background: rgba(198, 16, 0, 0);
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }

// -------------------- preloader -------------------

.artza_preloader {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: #191a1a;
    text-align: center;
    position: fixed;
    z-index: 777777;
    cursor: progress;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
        display: block;
        font-size: 50px;
        margin-top: -350px;
        color: var(--sd-1);
        font-family: $inter;
        font-weight: 700;

        @media #{$xs} {
            font-size: 30px;
            margin-top: -230px;
        }
        @media #{$sm} {
            font-size: 40px;
            margin-top: -230px;
        }
        span {
            position: relative;
            top: 0.63em;  
            display: inline-block;
            text-transform: uppercase;  
            opacity: 0;
            transform: rotateX(-90deg);
          }
          
          .let1 {
            animation: drop 1.2s ease-in-out infinite;
            animation-delay: 0.2s;
          }
          
          .let2 {
            animation: drop 1.2s ease-in-out infinite;
            animation-delay: 0.3s;
          }
          
          .let3 {
            animation: drop 1.2s ease-in-out infinite;
            animation-delay: 0.4s;
          }
          
          .let4 {
            animation: drop 1.2s ease-in-out infinite;
            animation-delay: 0.5s;
          
          }
          
          .let5 {
            animation: drop 1.2s ease-in-out infinite;
            animation-delay: 0.6s;
          }
          
          .let6 {
            animation: drop 1.2s ease-in-out infinite;
            animation-delay: 0.7s;
          }
          
          .let7 {
            animation: drop 1.2s ease-in-out infinite;
            animation-delay: 0.8s;
          }
    }
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}

// ------------- breadcrumb ------------------

.artza-breadcrumb-title {
    font-size: 42px;
    font-weight: 600;
    color: var(--pr-2);
    line-height: 1.2;
    margin-bottom: 23px;
    text-transform: capitalize;
    @media #{$xs} {
        font-size: 32px;
    }
    @media #{$sm} {
        font-size: 40px;
    }
}

.breadcrumb-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        a {
            display: block;
            margin-right: 0px;
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            text-transform: uppercase;
            &:hover {
                color: var(--sd-2);
            }
        }
        span {
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            color: var(--pr-2);
            position: relative;
            text-transform: uppercase;
            line-height: 24px;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background-color: var(--pr-2);
            }
        }
    }
}

// ------------------- sidebar --------------

.widget-bg {
    background-color: rgba(217, 217, 217, 0.15);
}
.widget-padding {
    padding: 40px;

    @media #{$lg} {
        padding: 30px;
    }
    @media #{$xs} {
        padding: 25px;
    }
    @media #{$sm} {
        padding: 40px;
    }
}
.artza-widget-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    color: var(--pr-2);
    margin-bottom: 25px;
}

.artza-sidebar {
    &:is(.ml-40) {
        @media #{$md,$xs} {
            margin-left: 0;
        }
    }
}

// magnificPopup img view


/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
  
    @include transition(.5s);
  }
  
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }