@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/common' as *;

/*
************
*************************
10. team
******************************************************* 
*************************************************************** */

// ---------- team --------------

.artza-team-title-wrapper {
    p {
        br {
            @media #{$lg} {
                display: none;
            }
        }

    }
}
.artza-team-left {
    &:is(.mt-35) {
        @media #{$md,$xs} {
            margin-top: 0;
        }
    }
    @media #{$md,$xs} {
        margin-bottom: 50px;
    }
}
.artza-team-title-wrapper {
    p {
        br {
            @media #{$xs} {
                display: none;
            }
        }
    }
}
.artza-team-social-wrapper {
    display: block;
}
.artza-team-social-link {
    display: inline-block;
    &:not(:last-child) {
        margin-right: 28px;

        @media #{$xs} {
            margin-right: 10px;
        }
        @media #{$sm} {
            margin-right: 28px;
        }
    }
    a {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $inter;

        &:hover {
            color: var(--pr-1);
        }

        img {
            margin-right: 10px;
            @media #{$xs} {
                margin-right: 5px;
            }
            @media #{$sm} {
                margin-right: 10px;
            }
        }
    }
}
.artza-team-right {
    @media #{$lg,$md} {
        margin-right: -15px;
        margin-left: -15px;   
    }
}
.artza-team-membar-box {
    border: 1px solid #f3f3f3;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 30px;

    @media #{$md} {
        padding: 20px 20px;
    }
    @media #{$xs} {
        padding: 20px 15px;
    }
    @media #{$sm} {
        padding: 20px 30px;
    }

    &:hover {
        .artza-team-membar-img {
            &::after {
                opacity: .6;
            }
        }
    }
}
.artza-team-membar-img {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 30px;

    @media #{$md} {
        margin-right: 20px;
        width: 85px;
    }

    @media #{$lg} {
        margin-right: 20px;
    }

    @media #{$xs} {
        margin-right: 20px;
        width: 85px;
    }
    @media #{$sm} {
        width: 100px;
        margin-right: 30px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        top: 0;
        left: 0;
        background-color: #008DFF;
        opacity: 0;
        @include transition(.3s);
    }
}
.artza-team-membar-text {
    a {
        display: inline-block;
        font-size: 23px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 1;
        color: var(--font-color-1);

        @media #{$xs} {
            font-size: 18px;
        }
        @media #{$sm} {
            font-size: 24px;
        }

        &:hover {
            color: var(--pr-1);
        }
    }
    p {
        margin-bottom: 12px;
        text-transform: capitalize;
    }
}
.artza-team-membar-social {
    a {
        display: inline-block;
        font-size: 20px;
        color: var(--sd-1);


        &:not(:last-child){
            margin-right: 15px;
        }
    }
}
.artza-team-1-slide-btn-wrapper {
    display: inline-block;
    position: relative;
    padding: 0 70px;
    margin-top: 45px;
    .artza_team_1_progation  {
        span {
            background-color: #93A1C2;
            width: 50px;
            height: 10px;
            border-radius: 10px;
            margin: 0px 5px !important;
            cursor: pointer;
            @include transition(.3s);
              &.swiper-pagination-bullet-active {
                    width: 100px;
                    background-color:var(--sd-1);
              }
        }
    }
    .artza_team_1_slide_next {
        position: absolute;
        right: 0;
        top: -2px;

        i {
            display: inline-block;
            cursor: pointer;
            color: #000;
            background-color: rgba(0, 140, 255, 0.20);
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 24px;
            border-radius: 50%;
            @include transition(.3s);

            &:hover {
                background-color: rgba(0, 140, 255,);
            }
        }
    }
    .artza_team_1_slide_prev {
        position: absolute;
        left: 0;
        top: -2px;

        i {
            display: inline-block;
            cursor: pointer;
            color: #000;
            background-color: rgba(0, 140, 255, 0.20);
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 24px;
            border-radius: 50%;
            @include transition(.3s);

            &:hover {
                background-color: rgba(0, 140, 255,);
            }
        }
    }
}

// ----------------  team-2 --------------------

.artza-team-2-wrapper {
    @media #{$md,$xs} {
        padding: 15px 0;
    }
}
.artza-team-2-membar {

    @media #{$md,$xs} {
        margin: 15px 0;
    }
}
.artza-team-2-membar-img {
    width: 100%;
    height: 314px;
    overflow: hidden;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background-color: #000;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include transition(.3s);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        &::after {
            opacity: .8;
        }
        .artza-team-2-membar-social {
            right: 20px;
            visibility: visible;
            opacity: 1;
        }
        .artza-team-2-membar-name {
            bottom: 30px;
            visibility: visible;
            opacity: 1;
        }
    }
}
.artza-team-2-membar-name {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    @include transition(.3s);

    a {
        font-size: 22px;
        font-weight: 600;
        display: inline-flex;
        font-style: italic;
        color: var(--white-color);
        line-height: 1;
        text-transform: capitalize;

        &:hover {
            color: var(--pr-2);
        }
    }
    span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: var(--white-color);
        text-transform: capitalize;
    }
}
.artza-team-2-membar-social {
    text-align: center;
    position: absolute;
    top: 15px;
    right: -40px;
    width: 30px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);

    a {
        display: block;
        color: var(--white-color);
        font-size: 20px;
        padding: 5px 0;
        &:hover {
            color: var(--sd-2);
        }
    }
}

// --------------------- team-3 ------------------

.artza-team-3-wrapper {
    
    @media #{$md,$xs} {
        padding: 30px 0;
    }
}
.artza-team-3-membar {
    @media #{$md,$xs} {
        margin: 35px 0;
    }
}
.artza-team-3-membar-img {
    height: 314px;
    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        .artza-team-3-membar-text {
            visibility: visible;
            opacity: 1;
            bottom: -35px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
    }
}
.artza-team-3-membar-text {
    width: 85%;
    position: absolute;
    bottom: 50px;
    background-color: var(--white-color);
    left: 0;
    right: 0;
    margin: auto;
    padding: 18px 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transform: matrix(1, 0, 0, -1, 0, 0);
    visibility: hidden;
    opacity: 0;
    @include transition(.3s);

    @media #{$lg} {
        width: 90%;
        padding: 18px 10px;
    }
    @media #{$sm} {
        width: 90%;
        padding: 18px 10px;
    }
    > a {
        font-weight: 600;
        font-size: 20px;
        display: block;
        text-transform: capitalize;
        color: var(--pr-2);
        &:hover {
            color: var(--sd-1);
        }
    }
    span {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
        display: inline-block;
        margin-bottom: 16px;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
            a {
                display: inline-block;
                font-size: 22px;
                color: #000;
                line-height: 1;
                &:hover {
                    color: var(--pr-1);
                }
            }
        }
    }
}

// ---------------- team-4 -----------------

.artza-team-4-left {
    padding-top: 18px;
    @media #{$lg} {
        padding-top: 10px
    }
    @media #{$md,$xs} {
        margin-bottom: 45px;    }
}
.artza-team-4-title-wrapper {
    .artza-section-p-2 {
        font-size: 16px;
        br {
            @media #{$lg} {
                display: none;
            }
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: block;
            }
        }
    }
}
.artza-team-4-progress-item {
    display: inline-flex;
    align-items: center;
    &:not(:last-child) {
        margin-right: 23px;
        @media #{$lg} {
            margin-bottom: 15px;
        }
        @media #{$xs} {
            margin-bottom: 15px;
        }
        @media #{$sm} {
            margin-bottom: 0px;
        }
    }
    .team-4-progress {
        display: inline-block;
        margin-right: 15px;
        input.knob {
            font-size: 14px !important;
            font-weight: 700 !important;
            color: #000000 !important;
            margin-top: 18px !important;
        }
    }
    h6 {
        display: inline-block;
        font-size: 19px;
        font-weight: 500;
        text-transform: capitalize;
        color: #000000;
        margin-top: -5px;
        margin-bottom: 0;
    }
}
.artza-team-4-member-preview {
    display: flex;
    align-items: center;

    @media #{$xs} {
        flex-wrap: wrap;
    }
}
.artza-team-4-preview-img-wrapper {
    display: inline-block;
    margin-right: 18px;
    @media #{$xs} {
        margin-bottom: 10px;
    }
    @media #{$sm} {
        margin-bottom: 0px;
    }
    .team-4-preview-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        &:not(:first-child) {
            margin-left: -20px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.team-4-all-member-btn {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000000;
    display: inline-block;
    margin-top: -5px;
    &:hover {
        color: var(--sd-2);
    }
    i {
        display: inline-block;
        font-size: 22px;
        color: var(--sd-2);
        margin-left: 5px;
    }
}
.artza-team-4-right {
    position: relative;
}
.team-4-bg-shape-1 {
    position: absolute;
    top: -10px;
    right: -10px;
}
.team-4-bg-shape-2 {
    position: absolute;
    bottom: 20px;
    left: -10px;
}
.artza-team-4-membar {
    margin-bottom: 30px;
    &:hover {
        .artza-team-4-membar-img {
            &::after {
                opacity: .85;
                transform: scale(1);
            }
        }
        .artza-team-4-membar-text {
            opacity: 1;
            visibility: visible;
        }
    }
}
.artza-team-4-membar-img {
    width: 100%;
    height: 244px;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--sd-2);
        transform: scale(0);
        opacity: 0;
        @include transition(.3s);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.artza-team-4-membar-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    @include transition(.3s);
    a {
        font-size: 19px;
        font-weight: 600;
        color: var(--white-color);
        text-transform: capitalize;
        margin-bottom: 8px;
        display: inline-block;
        &:hover {
            transform: scale(.9);
        }
        @media #{$lg} {
            font-size: 18px;
        }
    }
    span {
        display: block;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        color: var(--white-color);
        line-height: 1;
        margin-bottom: 15px;
        font-family: $inter;
        @media #{$lg} {
            font-size: 16px;
        }
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            a {
                display: inline-block;
                font-size: 20px;
                padding: 0 8px;
                color: var(--white-color);
                margin: 0;
                &:hover {
                    transform: scale(1.2);
                }

                @media #{$lg} {
                    padding: 0 8px;
                }
                @media #{$sm} {
                    padding: 0 8px;
                }
            }
        }
    }
}

// -------- team-page ---------

.artza-team-page-area {
    .artza-team-3-wrapper {
        padding: 0;
        .artza-team-3-membar {
            margin: 0;
        }
    }
    .artza-team-3-title-wrapper  {
        .artza-section-title-3 {
            color: var(--pr-2);
        }
    }
    .artza-team-3-wrapper {
        .artza-team-3-membar {
            margin-bottom: 70px;
        }
    }
}
.company-info-img {
    position: relative;
    width: 100%;
    &:is(.pr-50) {
        @media #{$md,$xs} {
            padding-right: 0;
            margin-bottom: 45px;
        }
    }
    img {
        width: 100%;
    }
}
.company-experience-wrapper {
    position: absolute;
    left: -65px;
    bottom: 20px;

    @media #{$xl,$lg,$md,$xs} {
        left: 0;
    }
}
.company-experience {
    position: relative;
    display: inline-block;
    background-color: var(--pr-1);
    border-radius: 50%;
    height: 149px;
    width: 149px;
    text-align: center;
    h2 {
        font-size: 40px;
        font-weight: 600;
        color: var(--white-color);
        line-height: 1;
        margin-bottom: -6px;
        padding-top: 28px;
    }
    p {
        font-size: 16px;
        font-weight: 900;
        color: var(--white-color);
        text-transform: capitalize;
        font-style: italic;
    }
    .company-info-shape-1 {
        position: absolute;
        left: -5px;
        top: -5px;
    }
}
.artza-company-skill {
    overflow: hidden;
}
.company-info-content {
    h2 {
        font-size: 40px;
        font-weight: 600;
        color: var(--pr-2);
    }
    p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 42px;
    }
}
.company-skill-title-wrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .company-skill-title {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin: 0;
        font-style: italic;
    }
    span {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        position: absolute;
        top: 0;
    }
}
.company-skill-wrapper .progress {
    height: 8px;
    border-radius: 0px;
    overflow: inherit;
    background-color: #e9ecef;
}
.company-skill-wrapper .progress .progress-bar {
    background: var(--pr-1);
    position: relative;
    overflow: inherit;
}
.company-skill-wrapper .progress .progress-bar span {
    height: 22px;
    width: 4px;
    display: inline-block;
    background: var(--pr-1);
    position: absolute;
    right: -2px;
    border-radius: 30px;
}

// ----------- team-details -------------

.artza-td-left {
    position: relative;
}
.membar-card-wrapper {
    position: absolute;
    left: -75px;
    top: -45px;
    z-index: 1;

    @media #{$xl,$lg,$md,$xs} {
        left: 0;
    }
}
.membar-card {
    position: relative;
    display: inline-block;
    padding: 15px 13px;
    background-color: var(--white-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    text-align: center;
    &::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var(--pr-1);
        left: -8px;
        top: -8px;
    }
    a {
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        display: block;
        color: #000;
        margin-bottom: 6px;
        &:hover {
            color: var(--pr-1);
        }
    }
    p {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        margin: 0;
        line-height: 1;
    }
}
.membar-card-img {
    width: 58px;
    height: 58px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.artza-td-img {
    position: relative;
    width: 100%;
    height: 536px;
    @media #{$md} {
        margin-bottom: 50px;
    }
    @media #{$xs} {
        margin-bottom: 50px;
        height: 380px;
    }
    @media #{$sm} {
        height: 536px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::after {
        content: "";
        position: absolute;
        background: linear-gradient(180deg, #5454D4 0%, #6B6897 35.18%, #7DD454 73.46%, #5454D4 100%);
        height: 320px;
        width: 12px;
        border-radius: 30px 30px 0px 0px;
        left: -6px;
        bottom: 0;
        animation: td-img-animation-2 10s linear infinite;
        @media #{$xs} {
            display: none;
        }
        
        @media #{$sm} {
            display: block;
        }
    }
    &::before {
        content: "";
        position: absolute;
        background: linear-gradient(180deg, #5454D4 0%, #6B6897 35.18%, #7DD454 73.46%, #5454D4 100%);
        height: 320px;
        width: 12px;
        border-radius: 0px 0px 30px 30px;
        right: -6px;
        top: 0;
        animation: td-img-animation 10s linear infinite;
        @media #{$xs} {
            display: none;
        }
        
        @media #{$sm} {
            display: block;
        }
    }
}

@keyframes td-img-animation {
    0%{
        top: 0px;
    }
    50%{
        top: 220px;
    }
    100%{
        top: 0px;
    }
}

@keyframes td-img-animation-2 {
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 220px;
    }
    100%{
        bottom: 0px;
    }
}

.artza-td-right {
    &:is(.ml-70) {
        @media #{$md,$xs} {
            margin-left: 0;
        }
    }
}
.artza-td-text {
    h3 {
        font-size: 35px;
        font-weight: 600;
        color: var(--pr-2);
        margin-bottom: 18px;
        @media #{$xs} {
            font-size: 28px;
        }
        
        @media #{$sm} {
            font-size: 35px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 300;
        color: var(--font-color-3);
        opacity: .8;
    }
}
.artza-td-experience-item {
    display: inline-block;
    margin-bottom: 30px;
    &:not(:last-child) {
        margin-right: 50px;
        @media #{$xs} {
            margin-right: 40px;
        }
        @media #{$sm} {
            margin-right: 50px;
        }
    }
    h3 {
        font-size: 35px;
        font-weight: 700;
        color: var(--pr-2);
        margin: 0;
    }
    p {
        color: var(--font-color-3);
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        opacity: .8;
        margin: 0;
    }
    
}
.artza-td-social-link {
    display: inline-block;
    background-color: var(--white-color);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    a {
        font-size: 30px;
        display: inline-block;
        padding: 11px 20px;
        color: #000;
        @media #{$xs} {
            padding: 8px 15px;
        }
        @media #{$sm} {
            padding: 11px 20px;
        }
        &:hover {
            background-color: var(--pr-2);
            color: var(--white-color);
        }
    }
}
